*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 100vw;
  height: 100vh;
}


.box{
  width: 100px;
  height: 100px;
  background: blue;
  border-radius: 10px;
  padding: 5px;
}